<div class="upgrades">
  <h2 class="middletitle">Welcome to CSE Motors!</h2>
  <div class="hero">
      <div class="delorean-info">
          <h3 class="subtitle">DMC Delorean</h3>
          <ul>
              <div class="textitem">3 Cup holders</div>
              <div class="textitem">Superman doors</div>
              <div class="textitem">Fuzzy dice!</div>
          </ul>
          <a href="#" class="btn">Own Today</a>
      </div>
  </div>
      <img src="images/vehicles/delorean.jpg" alt="DMC Delorean">
</div>