<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/layout') %>
  
  <%- include('partials/content') %>
<div class="middlecontainer">
    <div class="reviews">
        <h3 class="middletitle">Delorean Upgrades</h3>
        <div class="grid">
            <div class="rowcontainer">
                <div class="backitem">
                    <img class="item" src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <p class="imagetext">Flux Capacitor</p>
                </div>
                <div class="backitem">
                    <img class="item" src="images/upgrades/flame.jpg" alt="Flame Decals">
                    <p class="imagetext">Flame Decals</p></div>
            </div>
            <div class="rowcontainer">

                <div class="backitem">
                    <img class="item" src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    <p class="imagetext">Bumper Stickers</p>
                </div>
                <div class="backitem">
                    <img class="item" src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    <p class="imagetext">Hub Caps</p>
                </div>                   
            </div>
        </div>
    </div>  
    <div class="reviews">
        <h3 class="middletitle">DMC Delorean Reviews</h3>
        <ul>
            <li class="litex">"So fast it's almost like traveling in time." (4/5)</li>
            <li class="litex">"Coolest ride on the road." (4/5)</li>
            <li class="litex">"I'm feeling McFly!" (5/5)</li>
            <li class="litex">"The most futuristic ride of our day." (4.5/5)</li>
            <li class="litex">"80’s livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>

<%- include('partials/footer') %>
</div>
</div>
</body>
</html>